@media screen and (min-width: 320px) {
  #container-general__layout {
    display: flex;
    flex-direction: column;
  }

  .content-layout {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width: 1440px) {
  #container-general__layout {
    display: flex;
    flex-direction: row;
  }

  .content-layout {
    width: 100%;
    height: 100vh;
  }
}
